body {
    background: #f1f1f1;
    margin: 0px
}
#header {
    background: white;
    padding: 15px;
    overflow: hidden;
    min-width: 970px;
}
#Navigation {
    display: block;
    width: 200px;
    float: left;
}
#Search {
    display: block;
    float: left;
    padding-top: 10px;
}
#SignIn {
    display: block;
    float: right;
    padding-top: 10px;
}
#YoutubeImg {
    height: 40px;
}
#SearchBox {
    width: 600px;
}
#MainContainer {
    height: 2000px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#Container {
    height: 1100px;
    width: 850px;
    float: left;
}
#MainVideo {
    background: black;
    height: 500px;
    width: 850px;
    margin-right: 15px;
}
#TittleBar {
    background:white;
    height: 250px;
    width: 850px;
    margin-top: 15px;
    margin-right: 15px;
}
#Comments {
    background: white;
    height: 800px;
    width: 850px;
    margin-top: 15px;
    margin-right: 15px;
}
#Description {
    background: white;
    height: 220px;
    width: 850px;
    margin-top: 15px;
    margin-right: 15px;
}
#Other {
    background: white;
    height: 1130px;
    width: 385px;
    margin-left: 865px;
}
#YoutubeFrame {
    height: 500px;
    width: 850px;
}
#UpNext {
    margin-left: 20px;
}
#UpNextSign {
    margin: 10px;
    margin-top: 10px;
    display: block;
    width: 60px;
    margin-right: 0px;
}
.Suggested {
    margin-left: 20px;
    margin-bottom: -30px;
}
#MainVideoTittle {
    margin: 20px;
    padding-top: 10px;
    font-family: Roboto,arial,sans-serif;
}
#Uploader {
    margin: 20px;
    margin-top: 0px;
    float: left;
}
#Subscribe {
    float: left;
}
#views {
    float: right;
    margin-right: 15px;
    font-size: 20px;
    color: lightslategray;
}
#LikesDislikes {
    float: right;
}
.action {
    font-size: 13px;
     display: block;
     float: left;
     margin-top: 8px;
     margin-right: 10px;
}
#AddTo {
    display: block;
    float: left;
    margin-right: 2px;
    margin-left: 20px;
}
#Share {
    display: block;
    float: left;
    margin-top: 2px; 
    margin-right: 2px;
}
#More {
    display: block;
    float: left;
    margin-top: 5px; 
    margin-right: 2px;
}
#DatePublished {
    font-size: 15px;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#Info {
    padding-left: 10px;
}
#desc {
    padding-left: 10px;
}
.VidNames {
    margin-right: 45px;
    font-weight: bold;
    float: right;
}
.Subtittle {
    font-size: 10px;
    margin-left: 208px;
    bottom: 35px;
    position: relative;
    color: grey;
}
.OtherViews {
    font-size: 10px;
    margin-left: 208px;
    bottom: 35px;
    position: relative;
    color: grey;
}
.rrr {
    font-size: 10px;
    margin-left: 208px;
    bottom: 60px;
    position: relative;
    color: grey;
    float: left;   
}
#CommentTittle {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
#CommentsCount {
    color: grey;
    margin-left: 15px;
    float: left;
}
#CommentBox {
    width: 750px;
    height: 50px;
}
#You {
    float: left;
    margin-left: -70px;
    margin-right: 20px;
}

